:root {
  --primary-color: #1e1e23;
  --secondary-color: rgb(44, 44, 52);
  --action-color: rgba(92, 92, 252, 0.633);
  --border: solid 10px var(--secondary-color);
}
.hidden,
.hidden * {
  display: none;
}
body {
  width: 100%;
  max-width: 500px;
  min-width: 350px;
  margin: 0 auto;
  background-color: var(--primary-color);
}
.logo-container {
  width: 100px;
  margin: 10px auto;
}
.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.back-button {
  width: 100%;
  background-color: var(--secondary-color);
  border-style: none;
  font-size: 14px;
  color: rgb(187, 187, 187);
  border-radius: 5 5px 5px 5;
  padding: 5px 10px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.back-button:hover {
  color: white;
}
.location-section {
  background-color: var(--secondary-color);
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 10px auto;
}

.locations-info {
  width: 50%;
  margin: 10px auto;
  text-align: center;
}

.inputs-container {
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
  margin: 5px 5px;
  display: flex;
  justify-content: flex-end;
}
.search-input {
  width: 200px;
  background-color: var(--secondary-color);
  border-style: none;
  font-size: 14px;
  color: white;
  border-radius: 5px 0 0 5px;
  font-weight: bold;
  padding-left: 10px;
}
.search-input:focus {
  outline: none;
}
.search-button {
  background-color: var(--secondary-color);
  border-style: none;
  font-size: 14px;
  color: white;
  border-radius: 0 5px 5px 0;
  padding: 5px 10px;
  font-weight: bold;
}
.search-button:hover {
  background-color: var(--primary-color);
}
.locations-container {
  margin-right: 10px;
}
.location {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  border: solid 2px var(--secondary-color);
  border-radius: 5px;
  overflow: hidden;
}
.location * {
  margin: 0;
  padding: 0;
}
.location:hover {
  border: solid 2px var(--primary-color);
}

.location-city {
  width: 40%;
}
.location-country {
  width: 40%;
  text-align: center;
}
.location-button {
  width: 10%;
  height: 30px;
  margin: auto 0;
  background-color: var(--secondary-color);
  border-style: none;
  color: white;
}
.location-button:hover {
  background-color: var(--primary-color);
}
.name {
  font-size: 32px;
  font-weight: bold;
}
.weather {
  width: 95%;
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border-radius: 5px;
  margin: 10px auto;
}
.weather__info--15 {
  width: 14.285%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.weather__info--25 {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.weather__info--50 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.weather__info--100 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.weather__info__element {
  margin: 5px;
  background-color: var(--primary-color);
  border-radius: 5px;
}
.weather__info__date p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.max-color {
  color: rgb(253, 131, 94);
}
.min-color {
  color: rgb(100, 100, 245);
}
.grey-color {
  color: grey;
}
.bold {
  font-weight: bold;
}
.wi {
  background: linear-gradient(rgb(64, 98, 250), rgb(81, 220, 255));
  background-clip: text;
  color: transparent;
  margin-top: 10px;
}
.wi-large {
  font-size: 40px;
}
.wi-medium {
  font-size: 32px;
}
.color-gradient {
  background: linear-gradient(rgb(64, 98, 250), rgb(81, 220, 255));
  background-clip: text;
  color: transparent;
}
